{%extends "layout.html"%}

	{%block title%}App{%endblock%}

	{%block head%}
		<script type="text/javascript" src="/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="/main.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	{%endblock%}

	{%block content%}
		<h1>Bienvenido {{user}}</h1>
		<ul id="users">	
			{{userl_all}}
			{%for log in users_all%}
				<li>{{log}}</li>
			{%endfor%}
		</ul>
		<p>
			<a href="logout">Logout</a>
		</p>
	{%endblock%}